SECRET_KEY=

SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:root@db:3306/sigma

MYSQL_DATABASE=sigma
MYSQL_ROOT_PASSWORD=root
MYSQL_USERNAME=root
MYSQL_PASSWORD=root

FLASK_DEBUG=True
FLASK_RUN_PORT=5000
